* {
  margin: 0%;
  box-sizing: border-box;
}

main {
  text-align: center;
  color: orange;
  grid-area: mai;
}

h1 {
  background: linear-gradient(to right,#2597f5 40%, #27c6db, #42a147 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.734vh;
}

div#gallery {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.card {
  flex: 1;
  margin: 0.5vh;
  border: 0.05vh solid #ccc;
}

div.card img {
  width: 100%;
  min-width: 35vh;
  height: auto;
}

div.desc {
  padding: 1.514vh;
  font-size: 1.816vh;
}

aside {
  color: white;
  font-size: 2.2vh;
}

.gradientbg {
  background-image: linear-gradient(to bottom right, darkblue, purple);
}

#container {
  height: 100vh;
  display: grid;
  grid-template-columns: 160vh 1fr;
  grid-template-rows: 8.073vh 1fr 8.073vh;

  grid-template-areas:
    "nav nav"
    "mai asi"
    "foo foo";
}

div.card:hover {
    background-color: rebeccapurple;
    border: 0.1vh solid #777;
}

div.card:nth-child(3):hover,
div.card:nth-child(4):hover {
    animation: bob 2s infinite;
}

div.card:nth-child(5):hover,
div.card:nth-child(6):hover {
  animation: rotate 2s infinite;
}

div.card:nth-child(7):hover,
div.card:nth-child(8):hover {
  flex: 1.5;
}

@keyframes bob {
  25% {
    transform: translateY(5vh);
  }

  50% {
    transform: translateY(-5vh);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}