* {
    margin: 0%;
    height: 100;
}

a {
    color: white;
    font-size: 115%;
    text-align: center;
    padding-top: 0.8em;
    text-decoration: none;
}

a:hover {
    color: blue;
}

nav {
    background-color: black;
    display: grid;
    grid-template-columns: 4fr 7fr 3fr;
    height: 5em;
}

#GameLinks {
    grid-column: 1 / 2;
}

#PersonalLinks {
    grid-column: -2 / -1;
}

#GameLinks, #PersonalLinks {
    display: flex;
    justify-content: space-evenly; 
    align-items: start;
}
